@use "common" as *;
 
.welcome-wrap{
    .welcome-img{
        padding-left: 45px;
    }
    .welcome-content{
        h2{
            font-size: 28px;
            margin-bottom: 25px;
            text-align: center;
        }
        p{
            font-size: 17px;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .welcome-btn{
        .btn-theme{
            margin-bottom: 15px;
        }
    }
}


.white-btn{
    background: #fff;
    color: $theme-color;
    box-shadow: 0px 2px 8px rgba(43, 54, 70, 0.1);
    &:hover{
        color: #fff;
        background: $theme-color;
    }
}