/* Default Css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #c1c1c1;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: none;
}
html::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:active {
  background: #7EC3BB;
}

body {
  color: #545F7A;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a:active, a:hover {
  text-decoration: none;
}

button,
.btn {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
button:active, button:hover, button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #0F1B2D;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #0F1B2D;
  font-weight: 700;
  margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

hr {
  margin: 20px 0;
  border-color: #352323;
}

ol {
  list-style: decimal;
}

p:last-child {
  margin-bottom: 0;
}

/* Form */
label {
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

*::-moz-selection {
  background: #7EC3BB;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #7EC3BB;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #7EC3BB;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */
*::-moz-placeholder {
  color: #545F7A;
  font-size: 16px;
  opacity: 1;
}

*::placeholder {
  color: #545F7A;
  font-size: 16px;
  opacity: 1;
}

/* Button */
.btn-theme {
  color: #fff;
  border-color: #7EC3BB;
  background: #7EC3BB;
  width: 335px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: block;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-theme:hover {
  background: #fff;
  color: #7EC3BB;
  border-color: #7EC3BB;
  box-shadow: 0px 2px 8px rgba(43, 54, 70, 0.1);
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */
.bg-gray {
  background: #ddd;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-theme {
  background: #7EC3BB;
}

.bg-dark {
  background-color: #101a23 !important;
}

.bg-off-white {
  background-color: #f7f7f7;
}

.bg-off-white-2 {
  background-color: #f1f8ff;
}

.bg-blue {
  background-color: #4c87ff !important;
}

.bg-yellow {
  background-color: #fea116 !important;
}

.bg-pink {
  background-color: #fc4557 !important;
}

.bg-egg-blue {
  background-color: #F9FAFE !important;
}

.bg-purple {
  background-color: #5851a7 !important;
}

/* Text Color */
.gray-color {
  background: #ddd;
}

.white-color {
  color: #fff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #7EC3BB;
}

/* Others Common Css Here :) */
.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

.opacity-5 {
  opacity: 0.5;
}

.w-160 {
  width: 160px;
}

.bottom-border {
  border: 0 !important;
  border-bottom: 1px dashed #545F7A !important;
}

.fix-button {
  position: sticky;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-btn {
  flex-wrap: wrap;
  padding-top: 15px;
  border-top: 1px solid #eaedf4;
}
.menu-btn .menu-btn-icon {
  margin: 0 5px;
}
.menu-btn .menu-btn-icon a img {
  filter: grayscale(1);
}
.menu-btn .menu-btn-icon a:hover img {
  filter: grayscale(0);
}
.menu-btn .menu-btn-icon a.active img {
  filter: grayscale(0);
}

.sign-wrap .name-wrap.bottom-border .input-wrap.sign-up input {
  border: 0;
  padding-left: 0 !important;
}
.sign-wrap .name-wrap.bottom-border .input-wrap input {
  border: 0;
}
.sign-wrap .number-wrap.bottom-border .input-wrap input {
  border: 0;
}
.sign-wrap .number-wrap.bottom-border .input-wrap .icon {
  border: 0;
}
.sign-wrap .number-wrap.bottom-border .input-wrap.sign-up input {
  border: 0;
  padding-left: 0 !important;
}
.sign-wrap .country-wrap.icon-border .input-wrap .icon {
  border: 0;
}

[data-overlay] {
  position: relative;
  z-index: 1;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}

[data-overlay=light]::before {
  background-color: #fff;
}

[data-overlay=dark]::before {
  background-color: #000a2d;
}

[data-overlay=theme]::before {
  background-color: #7EC3BB;
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px;
  }
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
}

.row {
  --bs-gutter-x: 30px;
}

.splash-logo .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash-logo .logo img {
  width: 65px;
  height: 65px;
}

.welcome-wrap .welcome-img {
  padding-left: 45px;
}
.welcome-wrap .welcome-content h2 {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
}
.welcome-wrap .welcome-content p {
  font-size: 17px;
  text-align: center;
  margin-bottom: 40px;
}
.welcome-wrap .welcome-btn .btn-theme {
  margin-bottom: 15px;
}

.white-btn {
  background: #fff;
  color: #7EC3BB;
  box-shadow: 0px 2px 8px rgba(43, 54, 70, 0.1);
}
.white-btn:hover {
  color: #fff;
  background: #7EC3BB;
}

.sign-header h3 {
  margin: 0;
  font-size: 17px;
}

.sign-wrap form label {
  font-size: 13px;
  line-height: 16px;
  color: #545F7A;
  margin-bottom: 10px;
}
.sign-wrap form .number-wrap .input-wrap {
  position: relative;
}
.sign-wrap form .number-wrap .input-wrap .icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  height: 100%;
  border: 1px solid #EAEDF4;
  line-height: 40px;
}
.sign-wrap form .number-wrap .input-wrap input {
  width: 100%;
  height: 44px;
  padding-left: 56px;
  padding-right: 20px;
  border: 1px solid #EAEDF4;
  border-radius: 2px;
}
.sign-wrap form .number-wrap .input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.sign-wrap form .number-wrap .input-wrap input:focus:-moz-placeholder {
  color: transparent;
}
.sign-wrap form .number-wrap .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.sign-wrap form .number-wrap .input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}
.sign-wrap form .number-wrap .input-wrap .right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}
.sign-wrap form .password-wrap .input-wrap {
  position: relative;
}
.sign-wrap form .password-wrap .input-wrap .icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  height: 100%;
  line-height: 40px;
}
.sign-wrap form .password-wrap .input-wrap input {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  padding-right: 44px;
  border: 1px solid #EAEDF4;
  border-radius: 2px;
}
.sign-wrap form .password-wrap .input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.sign-wrap form .password-wrap .input-wrap input:focus:-moz-placeholder {
  color: transparent;
}
.sign-wrap form .password-wrap .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.sign-wrap form .password-wrap .input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}
.sign-wrap form .recover {
  margin-bottom: 30px;
}
.sign-wrap form .recover a {
  font-weight: 600;
  font-size: 16px;
}
.sign-wrap form .recover a img {
  margin-right: 10px;
}
.sign-wrap form button {
  outline: none;
  border: none;
}
.sign-wrap form .amount-value {
  margin-bottom: 60px;
}
.sign-wrap form .amount-value h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.sign-wrap form .amount-value p {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  line-height: 1.3;
}

.sign-wrap .name-wrap .input-wrap input {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  padding-right: 44px;
  border: 1px solid #EAEDF4;
  border-radius: 2px;
}
.sign-wrap .name-wrap .input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.sign-wrap .name-wrap .input-wrap input:focus:-moz-placeholder {
  color: transparent;
}
.sign-wrap .name-wrap .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.sign-wrap .name-wrap .input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}
.sign-wrap .number-wrap .sign-up input {
  padding-left: 20px !important;
}
.sign-wrap .country-wrap .input-wrap {
  position: relative;
}
.sign-wrap .country-wrap .input-wrap .icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  height: 100%;
  border: 1px solid #EAEDF4;
  line-height: 40px;
  pointer-events: none;
}
.sign-wrap .country-wrap .input-wrap .arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  pointer-events: none;
}
.sign-wrap .country-wrap .input-wrap select {
  width: 100%;
  height: 44px;
  padding-left: 56px;
  padding-right: 20px;
  border: 1px solid #EAEDF4;
  border-radius: 2px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.dash-title {
  padding: 25px 0;
}
.dash-title h4 {
  margin: 0;
  font-size: 17px;
}

.bell-icon {
  padding: 25px 0;
}

.btn-wrap {
  text-align: center;
}
.btn-wrap .btn-icon {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  border: 0 solid #000;
  text-align: center;
  background: #e6ecf9;
  border-radius: 8px;
  margin: 0 auto 10px;
}
.btn-wrap .btn-content h5 {
  font-size: 12px;
  font-weight: 500;
  color: #545f7a;
  display: inline-block;
  margin: 0;
}

.history-title h3 {
  font-size: 17px;
  margin-bottom: 0;
}

.history-link a {
  font-size: 15px;
  color: #7EC3BB;
}
.history-link a:hover {
  color: #545F7A;
}

.history-plan h5 {
  font-size: 13px;
  font-weight: 500;
  color: #545f7a;
  margin-bottom: 20px;
}

.history-logo {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #F4F6FA;
  padding: 0 9px;
}
.history-logo img {
  width: 22px;
}
.history-logo .profile-logo img {
  width: 40px;
}

.history-content h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
.history-content h4 {
  font-size: 13px;
  font-weight: 400;
  color: #545f7a;
  margin: 0;
}

.history-amount h4 {
  font-size: 16px;
  font-weight: 600;
}

.card-slider-wrapper {
  position: relative;
  overflow: hidden;
}
.card-slider-wrapper .card-slider {
  margin-right: -150px;
}
.card-slider-wrapper .card-slider .single-slide {
  padding-right: 20px;
}
.card-slider-wrapper .card-slider .single-slide img {
  width: 100%;
}

.services-area {
  position: relative;
}

.services-title h2 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.search-wrap .input-wrap {
  position: relative;
}
.search-wrap .input-wrap .icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  height: 100%;
  line-height: 40px;
  pointer-events: none;
}
.search-wrap .input-wrap .arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  pointer-events: none;
  visibility: hidden;
}
.search-wrap .input-wrap input {
  width: 100%;
  height: 44px;
  background: #0000001f;
  padding-left: 56px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.search-wrap .input-wrap input::placeholder {
  color: #fff;
}
.search-wrap .input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-wrap .input-wrap input:focus:-moz-placeholder {
  color: transparent;
}
.search-wrap .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.search-wrap .input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}

.select-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaedf4;
}
.select-content a {
  font-size: 15px;
  font-weight: 400;
  color: #545F7A;
  align-items: center;
  margin: 0;
}
.select-content a img {
  margin-right: 10px;
  margin-top: 5px;
}

.service-transfer {
  background: #fff;
  border-radius: 16px 16px 0 0;
}

.history-menu-item {
  position: relative;
}
.history-menu-item a {
  display: flex;
  flex-wrap: wrap;
  color: #0F1B2D;
  align-items: center;
}
.history-menu-item a .icon {
  width: 45px;
  padding-left: 5px;
}
.history-menu-item a .text {
  flex: 1 0 0%;
  border-bottom: 1px solid #eaedf4;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
}
.history-menu-item a .text img {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}
.menu-item .menu-btn {
  width: 58px;
  height: 38px;
  line-height: 38px;
  border-radius: 1000px;
  background: #F9FAFE;
  color: #545F7A;
  flex: auto;
  text-align: center;
  padding: 0;
  margin-right: 10px;
}
.menu-item .menu-btn:last-child {
  margin: 0;
}
.menu-item .menu-btn:focus {
  background: #7EC3BB;
  color: #fff;
}
.menu-item .menu-btn.leyanoo {
  width: 136px;
}
.menu-item .menu-btn.debit {
  width: 114px;
}

.profile-logo-top.info-transaction .profile-content h3 {
  color: #545F7A;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.profile-logo-top.info-transaction .profile-content h2 {
  font-size: 24px;
  border-bottom: 1px solid #eaedf4;
  padding-bottom: 25px;
}

.success-done h4 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #7EC3BB;
}

.profile-logo-top {
  position: relative;
  display: inline-block;
}
.profile-logo-top img {
  width: 80px;
  height: 80px;
}
.profile-logo-top .profile-content {
  margin-top: 20px;
}
.profile-logo-top .profile-content h3 {
  color: #fff;
  font-size: 17px;
  margin: 0;
}
.profile-logo-top .edit-icon {
  position: absolute;
  top: 30px;
  right: 0;
  width: 30px;
}

.text ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
}
.text ul li {
  display: block;
}
.text ul li h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.switch {
  position: absolute;
  right: 0;
  height: 24px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D6DCE8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7EC3BB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7EC3BB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.number-wrap .input-wrap input {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  padding-right: 44px;
  border: 1px solid #EAEDF4;
  border-radius: 2px;
}
.number-wrap .input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.number-wrap .input-wrap input:focus:-moz-placeholder {
  color: transparent;
}
.number-wrap .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.number-wrap .input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}

.card-info-item .card-info-btn {
  height: 35px;
  line-height: 38px;
  background: #F9FAFE;
  color: #545F7A;
  flex: auto;
  text-align: center;
  padding: 0;
  padding-bottom: 15px;
}
.card-info-item .card-info-btn:focus {
  color: #0F1B2D;
  border-bottom: 1px solid #000;
}
.card-info-item .nav-tabs {
  border-bottom: 1px solid #EAEDF4;
  margin-bottom: 30px;
}
.card-info-item .nav-tabs .nav-item {
  flex: 1 0 0%;
}
.card-info-item .nav-tabs .nav-item .nav-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #545F7A;
  margin: 0 !important;
  padding: 10px 15px;
  border: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
}
.card-info-item .nav-tabs .nav-item .nav-link:hover, .card-info-item .nav-tabs .nav-item .nav-link.active {
  color: #0F1B2D;
  border-color: #1040BA;
}

.search-wrap .search-white input {
  color: #545f7a;
  background: #F9FAFE;
}
.search-wrap .search-white input::placeholder {
  color: #545f7a;
}

.history-plan.first-letter h5 {
  font-size: 15px;
}

.success-done a .icon-plus {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #F9FAFE;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.success-done a h4 {
  color: #1040ba;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.profile-logo-top.success-check {
  width: 108px;
  height: 108px;
  line-height: 108px;
  align-items: center;
  background: #f7fbfb;
  border-radius: 50%;
}
.profile-logo-top.success-check img {
  height: 31px;
  width: 48px;
}

.success-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.time-title h6 {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #999;
}
.time-title h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #999;
}
.time-title .more-icon {
  font-size: 17px;
  color: #999;
}

.calendar-wrapper .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #0F1B2D;
  margin-bottom: 30px;
}
.calendar-wrapper .hbContainer {
  max-width: 400px;
  margin: auto;
}
.calendar-wrapper .hbContainer .calendarYearMonth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-top: 1px solid #EAEDF4;
  border-bottom: 1px solid #EAEDF4;
  margin-bottom: 10px;
}
.calendar-wrapper .hbContainer .calendarYearMonth #yearMonth {
  font-weight: 500;
  font-size: 17px;
  color: #0F1B2D;
  margin-bottom: 0;
}
.calendar-wrapper .hbContainer .calendarYearMonth .calBtn {
  font-weight: 500;
  font-size: 17px;
  color: #7EC3BB;
  margin-bottom: 0;
  cursor: pointer;
}
.calendar-wrapper .hbContainer .calendarList1 {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 40px);
  align-items: center;
  justify-items: center;
  grid-gap: 8px;
  font-size: 15px;
  line-height: 18px;
  color: #545F7A;
}
.calendar-wrapper .hbContainer .calendarList2 {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 40px);
  align-items: center;
  justify-items: center;
  grid-gap: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #0F1B2D;
}

.exchange-info h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #0F1B2D;
}
.exchange-info p {
  font-size: 15px;
  line-height: 18px;
  color: #545F7A;
}

.services-title-2 h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #999999;
}

.search-wrap-2 .input-wrap input::-webkit-input-placeholder {
  color: #999999;
}
.search-wrap-2 .input-wrap input:-moz-placeholder {
  color: #999999;
}
.search-wrap-2 .input-wrap input::-moz-placeholder {
  color: #999999;
}
.search-wrap-2 .input-wrap input:-ms-input-placeholder {
  color: #999999;
}

/*------------------------------------------------------------------------------
	Template Name: Starter Project Template.
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=main.css.map */
